rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /hype/{docId} {
      allow read: if true;

      allow create: if request.resource.data.count == 1
        && request.resource.data.displayName is string
        && request.resource.data.displayName.size() > 0
        && request.resource.data.displayName.size() < 50;

      allow update: if request.resource.data.count == resource.data.count + 1
        && request.resource.data.displayName is string
        && request.resource.data.displayName.size() > 0
        && request.resource.data.displayName.size() < 50;

      allow delete: if false;
    }
  }
}
